
<form action="game" method="get">
  <input type="number" name="guess" min="1" max="11" required/>
  <input type="submit" value="Submit Number"/>
</form>

Your number is <%=@guess%>
<%=@result%>
Number of tries <%=cookies[:counter]%>
