.jumbotron {
  height:340px;
  width: auto;
  background-image: url("https://images.alphacoders.com/986/98673.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  font-family: 'Passion One', cursive;
}

 .jumbotron > h1{
     font-size: 12vw;
 }

td {
  height: 50px;
  width: 50px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-collapse: separate;
}

table {
  background-image: url("https://static.pexels.com/photos/6644/sea-water-ocean-waves.jpg");
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-collapse: separate;
  margin-bottom: 30px;
}

.missColor {
  background-image:url("http://vignette2.wikia.nocookie.net/fnaf-world-rpg/images/f/fe/DeathX.gif/revision/latest?cb=20160123032005");
  background-size: 99% 99%;
}

.reveal {
  background-image: url("https://maxgrace.files.wordpress.com/2009/10/battleship_003.jpg");
  background-size: 99% 99%;
}

.hitColor {
  background-image:  url("http://bestanimations.com/Military/Explosions/atomic-mushroom-cloud-explosion-2-2.gif");
  background-size: 99% 99%;
}

p {
  font-family: 'Passion One', cursive;
  font-size: 40px;
}


/*.reset{
  background-color: teal;
}

button{

}*/
